body {
    padding: 10px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    background-color: #167197;
}

.container {
    background-color: #69c1d7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 20px;
    background-color: rgb(60, 160, 206);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f3f4f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.form-control:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label,
.form-group input,
.form-group select {
    align-self: center;
}

.edit-button {
    margin-left: auto;
    cursor: pointer;
}

.btn-primary {
    align-items: center;
    margin-left: 300px;
}

h3.display-4.text-center.mb-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 0.5;
}

.delete-button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

.pagination-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
    background-color: rgb(41, 71, 205);
    color: white;
}
