body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  div {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    /* width: 100%; */
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  a {
    display: block;
    text-align: center;
    color: #0074d9;
    text-decoration: none;
    margin-top: 10px;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(156, 227, 227);
    margin: 0;
    padding: 0;
  
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  div {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: beige;
    margin-top: 10px
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  

  
  button:hover {
    background-color: #0056b3;
  }
  
  a {
    display: block;
    text-align: center;
    color: #0074d9;
    text-decoration: none;
    margin-top: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  /* Apply styles to table headers */
  th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  /* Apply styles to table cells */
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Allow text to wrap within the description cell */
  td.description {
    white-space: normal;
  }
  
  /* Apply styles to the total expense row */
  tr:last-child {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
  }